.header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.project {
  float: left;
  text-transform: uppercase;
  cursor: pointer;
}

.control {
  float: right;
  cursor: pointer;
  color: #e7e7e7;
}

.nav {
  float: left;
  margin: 1em;
}

.nav a {
  margin-left: 1em;
  color: #e7e7e7;
}
.nav a:hover,
.control:hover {
  color: #fff;
}
