@font-face {
  font-family: fontello;
  src: url("../fonts/icons/fontello.ttf") format(truetype);
  src: url("../fonts/icons/fontello.woff") format("woff");
  src: url("../fonts/icons/fontello.woff2") format("woff2");
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

.container {
  margin: 0 auto;
  max-width: 768px;
}

.icon:before {
  font-style: normal;
  content: "";
  font-family: "fontello";
  display: inline-block;
}

.icon-left-circled:before {
  content: "\F0A8";
}

.btn {
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 2px;
  border: none;
  background-color: #fff;
}

.btn-disable {
  color: #676767;
  background-color: #f3f3f3;
}

.btn-danger {
  color: #fff;
  background-color: #ca3434;
}

.btn-success {
  color: #fff;
  background-color: #34ca3a;
}
