.modal {
  padding: 16px 8px;
  position: fixed;
  background-color: #fff;
  border-radius: 3px;
  position: fixed;
  left: 50%;
  top: 15%;
  transform: translateX(-50%);
}

.modal p {
  font-size: 22px;
}

.mask {
  background-color: #000;
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  left: 0;
  position: fixed;
  top: 0;
  z-index: 10;
}

.controls {
  justify-content: flex-end;
  display: flex;
  flex-direction: row;
}

.controls * {
  margin-right: 8px;
}
