.user {
  height: 30px;
  margin-top: 8px;
}

.search {
  display: block;
  width: 100%;
  margin: 8px 0 16px 0;
  padding: 8px 16px;
}

.stack-list {
  display: flex;
  flex-direction: column;
}

.stack-list p {
  margin-bottom: 8px;
  cursor: pointer;
}
.stack-list p:nth-child(n + 2) {
  font-size: 0.8em;
  margin: 0;
}
.users-list-item {
  cursor: pointer;
  border-bottom: 1px solid #e7e7e7;
  display: flex;
}

.users-list-item:hover {
  background-color: #e7e7e7;
}

.users-list-item .user-name {
  display: inline-block;
}

.avatar {
  display: inline-block;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin: 16px;
  overflow: hidden;
}

.avatar::before {
  content: attr(letter);
  text-align: center;
  display: inline-block;
  line-height: 50px;
  width: 100%;
  color: #fff;
  font-size: 1.5em;
}
