input[type="checkbox"] {
  display: inline-block;
  width: 10px;
  margin-left: 8px;
}

.main {
  align-items: flex-start;
  display: flex;
}

.userspage-list-item {
  padding: 8px 16px;
  border-bottom: 1px solid #e7e7e7;
  display: flex;
  flex-direction: column;
}
.userspage-list-item p {
  margin: 0;
}

.userspage-list-item p:nth-child(n + 2) {
  margin-top: 4px;
  font-size: 14px;
}
.top-bar {
  margin: 16px 0;
}

.tabs {
  flex-grow: 1;
}

.tabs .tabs-titles {
  cursor: pointer;
  display: flex;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.12);
}

.tabs-titles h4 {
  color: #676767;
  margin: 8px 8px;
  padding: 8px;
  border-radius: 2px;
}

.tabs-titles .active-tab {
  color: #fff;
  background-color: #34caca;
}

.user-info {
  margin-right: 16px;
  color: #676767;
  width: 250px;
  padding: 6px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.12);
}

.user-info img {
  width: 250px;
  margin-bottom: 6px;
}

.user-info p {
  background-color: #f3f3f3;
  margin: 1px 0;
  padding: 6px 12px;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.hide-block {
  display: none;
}

.show-block {
  display: block;
}
